@{
    ViewData["Title"] = "Not SignIn";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <p class="lead">You're not signed in yet. Please sign in to access your account.</p>
    <a asp-controller="Home" asp-action="Signin" class="btn btn-primary">Signin</a>
</div>
